h3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

ul {
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .contacts > li {
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
}


.email {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url("https://image.flaticon.com/icons/png/512/131/131155.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 480px) {
  .email {
  height: 3rem;  
  text-align: center;
  margin-bottom: .5rem;
  margin-right: 2rem;
  background-image: url("https://image.flaticon.com/icons/png/512/131/131155.png");
  }
}  

.github {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 480px) {
  .github {
  height: 4rem;  
  text-align: center;
  margin-bottom: .5rem;
  margin-right: 2rem;
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  }
}  

.linkedin {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url("https://image.flaticon.com/icons/svg/34/34227.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .linkedin {
  height: 2rem;  
  text-align: center;
  margin-bottom: .5rem;
  margin-right: 2rem;
  background-image: url("https://image.flaticon.com/icons/svg/34/34227.svg");
  }
}  

.contacts > li {
  list-style-type: none;
}
  
