* {
  font-family: "Avenir Next",
  sans-serif; 
  color: #1f2e2e;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .hamburger {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-size: 3rem;
  }
} 

@media screen and (min-width: 481px) {
  .hamburger {
    display: none;
  }
}  

 /* .menu {
  display: none;
}  */

/* @media screen and (min-width: 481px) { */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3cccc;
    height: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
/* } */

.menu > li {
  float: left;
  display: block;
  color: white;
  text-align: center;
}

@media screen and (min-width: 680px) {
  p {
    font-size: 1.1rem;
    text-align: left;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left:  3rem;
    padding-right: 2rem; 
    padding-left: 2rem;
  } 
}

p {
  font-size: 1.1rem;
  text-align: left;
  margin-top: .2rem;
  margin-right: 1rem;
  margin-left:  1rem;
}